*{
  margin: 0;
  padding: 0;
}

@font-face {
 font-family: 'Open Sans', sans-serif;
 src: url(https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,800&display=swap);
}

.nav {
  background-color: #0000ff;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav li{
  display: inline:
  padding-right: 50px;
}

.nav li a{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight:bold;
  display: block;
  color: #ffa500;
  background-color: #0000ff;
}
nav li a:hover{
  color: #0000ff;
  background-color: #ffa500;
}
 title .title1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 bold;
  text-transform: uppercase;
  font-size: 40px;
  color: #FFA500;
   grid-row: 3 / 4;
   text-align: center;
}

img {
  max-width: 100%;
  display: block;
  max-height: 100%;
}
div.ImageC{
  width: 1000px;
  height: auto;
}
table .Vehicle-table, th, td{
  border: 5px solid #0000ff;
}
table{
  border-collapse: collapse;
  grid-column: 2 / 9;
  grid-row: 6;
}
body{
  background-color: #ffa500;
}
.grid{
  display: grid;
  grid-auto-rows: 50px;
  grid-auto-columns: repeat 10(10%);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

title .title{
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 bold;
  text-transform: uppercase;
  font-size: 60px;
  color: #FFA500;
  grid-row: 2 / 3;
  text-align: center;

}
.space{
  grid-row: 1 / 2;
  grid-area: 1 / 10;
}
