*{
  margin: 0;
  padding: 0;
}

@font-face {
 font-family: 'Open Sans', sans-serif;
 src: url(https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,800&display=swap);
}

.nav {
  background-color: #0000ff;
  text-align: center;
  padding: 20px 0 20px 0;
  width: 100%;
  position: fixed;
}

.nav li{
  display: inline-block:
  padding right: 50px
}

.nav li a{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight:bold;
  display: block;
}
nav li a:hover{
  color: #0000ff;
  background-color: #ffa500;
}
title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800 bold;
  text-transform: uppercase;
  font-size: 60px;
  color: #FFA500;
}
